<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
    
    <!-- jquery -->
    <script src="/public/js/jquery-3.4.1.js"></script>

    <title>Active</title>
</head>

<body>
    <div class="container">
        <div class="row mt-2">
            <div class="col">
                <div class="speakTranscprit">
                    <div class="final pt-2 px-2 text-dark font-weight-bold text-justify" id="finalTranscript">Waiting for voice ...</div>
                    <span class="interim text-secondary font-italic" id="interimTranscript"></span>
                </div>
                <button id="speakBtn" class="mt-3 btn btn-primary" onclick="toggleStartStop()"></button>
            </div> <!-- left column finished-->
            <div class="vl"></div> <!-- Division line -->
            <div class="col ">right...</div><!-- right column finished-->
        </div>
    </div>
</body>
<script type="text/javascript">
    if (!('webkitSpeechRecognition' in window)) {
        alert("Only support in Google Chrome latest version.");
    } else{
        let finalTranScript = "";
        let recognizing;
        let recognition = new webkitSpeechRecognition();
        recognition.continuous = true;
        recognition.interimResults = true;
        // recognition.lang = 'en-US';
        reset();
        recognition.onend = reset();

        recognition.onresult = (event) => {
            let interimTranscript = "";
            for (let i = event.resultIndex; i < event.results.length; ++i) {
                if (event.results[i].isFinal) {
                    finalTranScript += event.results[i][0].transcript;
                }else{
                    interimTranscript += event.results[i][0].transcript;
                }
                $('#finalTranscript').text(finalTranScript);
                $('#interimTranscript').text(interimTranscript);
            }
        }
        recognition.onerror = (event) => {
            console.log("ERROR : ", event.error);
        };
        recognition.onend = (event) => {
            console.log("event", event);
        }


        function reset() {
            recognizing = false;
            finalTranScript = "";
            $('#speakBtn').text('Click to Speak');
        }

        function toggleStartStop() {
            if (recognizing) {
                recognition.stop();
                reset();
                console.log("is recognizing: ", recognizing);
            } else {
                recognition.start();
                recognizing = true;
                $('#speakBtn').text('Click to Stop');
                console.log("is recognizing: ", recognizing);
            }
        }
    }
    
</script>
</html>
