<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Power meeting EMK</title>
</head>
<style>
    .custom-checkbox {
        padding-left: 0;
    }

    label.custom-control-label {
        padding-right: 1.5rem;
    }

    .custom-control-label::before,
    .custom-control-label::after {
        right: 0;
        left: auto;
    }
    df-messenger {
   --df-messenger-bot-message: #878fac;
   --df-messenger-button-titlebar-color: #df9b56;
   --df-messenger-chat-background-color: #fafafa;
   --df-messenger-font-color: white;
   --df-messenger-send-icon: #878fac;
   --df-messenger-user-message: #479b3d;
  }
</style>
<body>
    <div class="container h-100">
        <div class="row justify-content-center" style="margin-top:40vh">
            <div class="row">
                <h1>Power Meeting EMK</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="row ">
                By HongKonger
            </div>
        </div>
        <div style="position: absolute ;right: 10em; bottom: 10em;">
            Click to open dialog
        </div>
        <div class="row">
            <i class="fa fa-long-arrow-right fa-5x" style="transform:rotate(45deg);position: absolute ;right: 1.75em; bottom: 1em;"></i>
        </div>

        <div class="row">
            <df-messenger
                intent="WELCOME"
                chat-title="EMK"
                agent-id="20af93bb-e8a8-435a-adeb-f820b97cd8e1"
                language-code="en"
            ></df-messenger>
        </div>
    </div>
</body>
<script src="/public/js/jquery-3.4.1.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<!-- Dialogflow Messenger JS -->
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
</html>