<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="./public/css/bootstrap.min.css">
    <link rel="stylesheet" href="./public/css/main.css">

    <title><%= errTitle %></title>
</head>

<body>
    <div class="container">
        <div class="mt-5 text-center">
            <h1>Error!</h1>
            <p><%= errMsg %></p>
        </div>
        <div class="mt-5 text-center">
            <a href="/" class="btn btn-primary">Back to home page</a>
        </div>
    </div>
</body>

</html>
