<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="./public/css/bootstrap.min.css">
    <link rel="stylesheet" href="./public/css/main.css">

    <title>Home Page</title>
</head>

<body>
    <div class="container">
        <div class="mt-5 text-center">
            <h1>Main Page</h1>
        </div>
        <div class="mt-5 text-center">
            <div class="btn w-40">
                <a href="/active" class="btn btn-primary btn-lg ">Start</a>
            </div>
            <div class="btn w-40">
                <a href="/upload" class="btn btn-success btn-lg ">Upload</a>
            </div>
        </div>
        
    </div>
</body>

</html>
